# Node modules
node_modules

# Compiled output
dist
dist-ssr
build

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Test coverage
coverage
.nyc_output

# Editor directories and files
.idea
.project
.classpath
.c9/
*.launch
.settings/
.suo
.ntvs*
.njsproj
.sln
.sw?
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Temporary directories
temp
tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Custom types
api.ts
