:root {
  --color-red: rgb(110, 54, 48);
  --color-yellow: rgb(137, 99, 42);
  --color-green: rgb(43, 89, 63);
  --color-blue: rgb(40, 69, 108);
  --color-gray: rgb(128, 128, 128);
  --color-purple: #472F61;
  --color-orange: #8F5A3F;
  --color-lemon: #8F8A3F;
  --color-mint: #2A5F4E;

  --bg-color: rgb(16, 16, 20);
  --scrollbar-color: rgba(255, 255, 255, 0.2);
  --header-color: rgb(24, 24, 28);
  --header-height: 60px;
}
